<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxl.carpro.dao.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cxl.carpro.dao.model.UserInfoDO">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="passwd" property="passwd" />
        <result column="contact_info" property="contactInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, passwd, contact_info
    </sql>

</mapper>
